<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fazbook</title>
</head>
<body>
  <h1>Create a user!</h1>
  <form action="/users" method="POST">
    <label>
      Email
      <input type="text" name="email" />
    </label>
    <label>
      First
      <input type="text" name="firstName" />
    </label>
    <label>
      Last
      <input type="text" name="lastName" />
    </label>
    <label>
      Date of Birth
      <input type="Date" name="dob" />
    </label>

    <input type="submit" value="Create User" />
  </form>
</body>
</html>
